<!DOCTYPE html>
<html>
  <head>
    <title>BBS</title>
  </head>
  <body>
    <h1>BOARD</h1>
    <table>
      <tr>
        <th>idx</th>
        <th>subject</th>
        <th>content</th>
      </tr>
<%=data%>
    </table>

    <button onclick="location.href='regBbs'">게시글쓰기</button>
  </body>
</html>
