<!DOCTYPE html>
<html>
  <head>
    <title>BBS</title>
  </head>
  <body>
    <h1>FAQ</h1>
    <div style="display: none;">
      <button>JOIN</button>
      <button>LOGIN</button>
    </div>
    <form action="/category" method="POST" name="multer_test">
      
      <table>
        <tr>
          <td>카테고리</td>
          <td>
            <input type="text" name="name">
          </td>
        </tr>
       

      </table>
      <!-- <input name="file" type="file" id="" accept="image/gif,image/jpeg,image/png"> -->
      <button type="submit">저장</button>
    </form>
  </body>
</html>
