<!DOCTYPE html>
<html>
  <head>
    <title>BBS</title>
  </head>
  <body>
    <h1>FAQ</h1>
    <div style="display: none;">
      <button>JOIN</button>
      <button>LOGIN</button>
    </div>
    <form action="/main" method="POST" name="multer_test">
      <input type="hidden" name="id" value="<%=data.id%>"/>
      <table>
        <tr>
          <td>제목</td>
          <td>
            <input type="text" name="subject" value="<%=data.subject%>">
          </td>
        </tr>
        <tr>
            <td>카테고리</td>
            <td>
                <select>
                    
                    <option></option>
                </select>
            </td>
        </tr>
        <tr>
          <td>게시물 내용</td>
          <td>
            <textarea cols="20" rows="4" name="content" ><%=data.content%></textarea>
          </td>
        </tr>

      </table>
      <!-- <input name="file" type="file" id="" accept="image/gif,image/jpeg,image/png"> -->
      <button type="submit">저장</button>
    </form>
  </body>
</html>
