<!DOCTYPE html>
<html>
  <head>
    <title>BBS-JOIN</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <div>
      <button>JOIN</button>
      <button>LOGIN</button>
    </div>
    <form action="/main" method="POST" name="multer_test">
      <table>
        <tr>
          <td>게시물 제목</td>
          <td>
          
          </td>
        </tr>
        <tr>
          <td>게시물 내용</td>
          <td>
           
          </td>
        </tr>

      </table>
      <!-- <input name="file" type="file" id="" accept="image/gif,image/jpeg,image/png"> -->
      <button type="submit">저장</button>
    </form>
  </body>
</html>
