<!DOCTYPE html>
<html>
  <head>
    <title>BBS</title>
  </head>
  <body>
    <h1>BOARD</h1>

    <form action="/main" method="POST" name="multer_test">
      <table>
        <tr>
          <td>게시물 제목</td>
          <td>
            <input type="text" name="subject">
          </td>
        </tr>
        <tr>
          <td>게시물 내용</td>
          <td>
            <textarea cols="20" rows="4" name="content"></textarea>
          </td>
        </tr>

      </table>
      <!-- <input name="file" type="file" id="" accept="image/gif,image/jpeg,image/png"> -->
      <button type="submit">저장</button>
    </form>
  </body>
</html>
